@{
    ViewData["Title"] = "Paises";
}

@model IEnumerable<administracionPrestamo.Modelos.Sistema.Tablas.Catalogo.Paises>

@section Styles {
    <link href="~/lib/datatables/dist/css/datatables.bootstrap.min.css" rel="stylesheet" />
}

<div class="row">
    <!-- customar project  start -->
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center m-l-0">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6 text-right">
                        <button class="btn btn-success btn-sm mb-3 btn-round" data-toggle="modal" data-target="#modal-report"><i class="feather icon-plus"></i> Agregar Pais</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="tabla-paises" class="table table-bordered table-striped mb-0">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>ISO Numerico</th>
                                <th>ISO Alpha 3</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach(var item in Model){
                                    <tr>
                                        <td>@item.Nombre</td>
                                        <td>@item.ISO_Numerico</td>
                                        <td>@item.ISO_Alfa3</td>
                                        <td>
                                            @item.Estado == 1 ? <span class="badge badge-pill badge-success">Activo</span>
                                            : <span class="badge badge-pill badge-warning">Inactivo</span>
                                        </td>
                                        <td></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Pais</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="floating-label" for="txtNombre"></label>
                                <input id="txtNombre" type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="floating-label" for="txtISONumeric">ISO Numerico</label>
                                <input id="txtISONumeric" type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="floating-label" for="txtISOAlpha3">ISO Alpha 3</label>
                                <input id="txtISOAlpha3" type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-primary">Guardar</button>
                            <button class="btn btn-danger">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-datatables/dist/js/jquery.datatables.min.js"></script>
    <script src="~/js/pais/index.js"></script>
}